footer {
    background: rgb(255, 255, 255);
    color:rgb(63, 58, 57);
    height: 280px;
    position: relative;
}
.footer-content {
    height: 280px;
    width: 100%;
    display: flex;
    background:rgb(234, 233, 233, .5);
    background:rgb(234, 233, 233, .5);
}
.footer-section {
    padding: 100px;
    padding-top: 60px;
    flex: 1;
    background:rgb(234, 233, 233, .5);
    
}
.footer-bottom {
    background:rgba(207, 205, 205, 0.5);
    color:rgb(63, 58, 57);
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}
.footer-section-about {
    color:rgb(0, 0, 0);
    padding: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    background:rgb(234, 233, 233, .5);
}
.footer-section-links {
    color:rgb(0, 0, 0);
    padding: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background:rgb(234, 233, 233, .5);
}
.footer-section-contact-form {
    color:rgb(0, 0, 0);
    padding: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right;
    background:rgb(234, 233, 233, .5);
}
.thank-you {
    color:rgb(0, 0, 0);
    padding: 100px;
    padding-top: 55px;
    padding-bottom: 20px;
    padding-right: 10px;
    text-align: center;
    background:rgb(234, 233, 233, .5);
    font-size: 20px;
}
.image5 {
        padding-top: 10px;
        font-size: 12px;
        text-align: center;
        padding-right: 50px;
        padding-left: 50px;
        font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.image1 {
        padding-top: 200px;
        font-size: 18px;
        text-align: center;
        padding-right: 50px;
        padding-left: 50px;
        font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.image4 {
         padding-top: 10px;
        font-size: 16px;
        text-align: center;
        padding-right: 90px;
        padding-left: 90px;
        font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
